---
http_interactions:
- request:
    method: post
    uri: https://api.idmelabs.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"authorization_code","code":"b6bd8e0aff604043a29690dcbd40e33a","client_id":"dde0b5b8bfc023a093830e64ef83f148","client_<DMC_TOKEN>":"e745319288bd005c9fca7d8164f302c7","redirect_uri":"http://localhost:3000/sign_in/idme/callback"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer realm="ID.me", error="invalid_grant", error_description="The provided
        authorization grant is expired or revoked"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"The provided authorization
        grant is expired or revoked"}'
  recorded_at: Tue, 15 Mar 2022 18:39:59 GMT
recorded_with: VCR 6.0.0
