---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.va.gov/services/benefits-reference-data/v1/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - 0ogbAyH3ljIyxf2gUHT0CgEKh9AJdNla
      Authorization:
      - Basic base64(0oaf4izxrhTOSC4Vw2p7:jxZzvkPUBJXSKYNwalOiCMfBlk96mpZG0mQ_cMsp)
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining-Minute:
      - '59'
      X-Ratelimit-Limit-Minute:
      - '60'
      Ratelimit-Remaining:
      - '59'
      Ratelimit-Limit:
      - '60'
      Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"totalItems":213,"totalPages":1,"links":[{"href":"https://sandbox-api.va.gov/services/benefits-reference-data/v1/countries","rel":"self"}],"items":["Afghanistan","Albania","Algeria","Angola","Anguilla","Antigua","Antigua
        and Barbuda","Argentina","Armenia","Australia","Austria","Azerbaijan","Azores","Bahamas","Bahrain","Bangladesh","Barbados","Barbuda","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia-Herzegovina","Botswana","Brazil","Brunei","Bulgaria","Burkina
        Faso","Burma","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman
        Islands","Central African Republic","Chad","Chile","China[...]
